@media only screen and (max-width: 10000px) {
    .logo1 {
        display: block;
        margin:0 auto;
    }

    .logo2 {
        display: none;
    }
}



@media only screen and (max-width: 800px) {

    .logo1 {
        display: none;
    }
    
    .logo2 {
        display: block;
        margin:0 auto;
    }

}